.button{
  float: left;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  color: $secondary-color;
  background-color: $active-color;
  font-size: $primary-font-size;
  font-weight: $secondary-font-weight;
  margin-top: 23px;
  cursor: pointer;
}
