@import "./commons/normalize.scss";
@import "./commons/vars.scss";
@import "./components/index";
@import './components/media/media-main-game';
@import "./components/main-page.scss";
@import "./components/main/main.scss";
@import "./components/main/card.scss";
@import "./components/main/container.scss";
@import "./components/settings-page.scss";
@import "./components/header/index";
@import "./components/footer.scss";
@import "./components/inputs/settings-checkbox.scss";
@import "./components/inputs/settings-number.scss";
@import "./components/form/settings-form";
@import "./commons/base";
@import "./components/buttons/buttons";
@import "./components/form/form";
@import "./components/form/icon-auth";
@import "./components/form/start-section";
@import "./components/media/media-form";
@import "./components/intervalGame/intervalMain";
@import "./components/intervalGame/controls";
@import "./components/media/media-interval";
@import "./components/modal/main-promo-page";
@import "./components/media/media-main-promo-page";
@import "./components/modal/modal";
@import "./components/media/media-modal";
@import "components/aboutTheTeamPage/aboutTheTeamPage.scss";
@import "components/sprintGame/sprintGame";
@import "components/wordConstructor/wordConstructor";
@import "components/media/media-word-constructor";
@import "components/statistics/statistics";
@import "./components/spinner/spinner";
@import "components/dictionaryPage/dictionaryPage";
@import "./components/speak-it-game/main-section";
@import "./components/speak-it-game/game-items";
@import "./components/speak-it-game/buttons-game";
@import "./components/media/media-speak";
@import "./components/speak-it-game/speak-modal";
@import "components/audio-call/audio-call";
