$primary-color: #ffffff;
$secondary-color: #343a40;
$active-color: #f5c908;
$header-height: 64px;
$footer-height: 44px;
$primary-font-family: "Open Sans", sans-serif;
$primary-font-weight: 400;
$primary-font-size: 16px;
$secondary-font-weight: 600;
$color-correct: rgb(5, 138, 5);
$color-incorrect: rgba(255, 0, 0, 0.925);
$color-back-main-game: rgba(255, 228, 228, 0.4);
$color-target-word: rgba(144, 47, 47, 0.8);
