$primary-color: #ffffff;
$secondary-color: #343a40;
$active-color: #f5c908;
$header-height: 64px;
$footer-height: 44px;
$primary-font-family: "Open Sans", sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 600;
$primary-font-size: 16px;
$color-label: rgba(255,255,255,.7);
$color-inactive-a: rgba(255,255,255,.3);
$color-back-input: rgba(255,255,255,.2);
$color-back-form: rgba(46, 117, 129, .2);
