$primary-color: #ffffff;
$secondary-color: #343a40;
$active-color: #f5c908;
$header-height: 64px;
$footer-height: 44px;
$primary-font-family: "Open Sans", sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 600;
$primary-font-size: 16px;
$color-label: rgba(55, 61, 65, 0.7);
$color-inactive-a: rgba(42, 50, 53, 0.3);
$color-back-input: rgb(255, 255, 255);
$color-back-form: rgba(255, 255, 255, 0.6);
$color-error-text: #f50808;
$color-icon-title: #6fb59b;
