body {
  height: 100vh;
  margin: 0;
}

.sprint-game__screen-wrapper {
  width: 45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

.screen-wrapper__main-content {
  width: 99%;
  height: 60%;
  border: 3px solid #000000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.screen-wrapper__timer {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 265px;
  right: -113px;
  background: #ffffff;
  border-radius: 50%;
  font-size: 55px;
  text-align: center;
  line-height: 1.7;
}

.timer__loader-wrapper {
  width: 103px;
  height: 103px;
  position: absolute;
  top: 261px;
  right: -117px;
  background: #1f953f;
  border-radius: 50%;
}

.timer__loader-wrapper svg {
  width: 103px;
  height: 103px;
}

.screen-wrapper__points {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}

.screen-wrapper__hints {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hints__description {
  text-align: center;
  font-size: 22px;
}

.hints__voice {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hints__voice--off {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
}

.inactive {
  display: block;
}

.hints__voice:hover {
  cursor: pointer;
  filter: invert(0.2);
}

.hints__voice:active {
  transform: scale(0.99, 0.99);
}

.main-content__information,
.main-content__combo-block {
  width: 45%;
  height: 20%;
  margin: 0 auto;
}

.main-content__task-container {
  width: 100%;
  height: 30%;

  p {
    height: 50%;
    margin: 0;
    line-height: 2.5;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.main-content__controller {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 30%;
  margin: 0 auto;
}

.controller__wrong-btn,
.controller__right-btn {
  width: 35%;
  height: 25%;
  padding-top: 8px;
  text-align: center;
  margin: auto 0;
  font-size: 23px;
  border: 1px solid black;
  border-radius: 10px;
}

.controller__wrong-btn:hover,
.controller__right-btn:hover {
  cursor: pointer;
  background: #515151;
}

#loader {
  transform: translate(125px, 125px);
}

.screen-wrapper__result-block {
  width: 100%;
  height: 50%;
  margin: auto 0;
  text-align: center;
}

.result-block__start-btn {
  border: 1px solid #000000;
  width: 25%;
  height: 10%;
  padding-top: 15px;
  margin: 0 auto;
  border-radius: 15px;
}

.result-block__start-btn:hover {
  cursor: pointer;
  background: #626b6e;
}

.result-block__description {
  width: 100%;
  height: 50%;
  margin: 0;
}

.result-block__your-result {
  width: 100%;
  height: 30%;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  line-height: 3;
}
