body {
  height: 100vh;
  margin: 0;
}

.sprint-game__screen-wrapper {
  width: 45%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #979797;
}

.screen-wrapper__main-content {
  width: 100%;
  height: 60%;
}

.screen-wrapper__timer {
  width: 95px;
  height: 95px;
  position: absolute;
  top: 265px;
  right: -113px;
  background: #000000;
  border-radius: 50%;
  color: aliceblue;
  font-size: 55px;
  text-align: center;
  line-height: 1.7;
}

.timer__loader-wrapper {
  width: 103px;
  height: 103px;
  position: absolute;
  top: 261px;
  right: -117px;
  background: #950082;
  border-radius: 50%
}

.screen-wrapper__points {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}

.screen-wrapper__hints {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  user-select: none;
  position: relative;
}

.hints__description {
  text-align: center;
  font-size: 22px;
}

.hints__voice {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hints__voice--off {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
}

.active {
  display: block;
}

.hints__voice:hover {
  cursor: pointer;
  filter: invert(0.2);
}

.hints__voice:active {
  transform: scale(0.99, 0.99);
}
