.button{
  float: left;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: $primary-font-size - 3px;
  text-align: center;
  color: $primary-color;
  background-color: $active-color;
  font-size: $primary-font-size;
  margin-top: 23px;
  cursor: pointer;
}
