.form{
  height: 375px;
  font-weight: $primary-font-weight;
  padding: 5px 37px;

  &__sign-in{
    transition: opacity .5s ease, transform .5s ease;
    opacity: 1;
  }
  &__sign-up{
    position: relative;
    top: -383px;
    left: 400px;
    opacity: 0;
    transition: all .5s ease;
  }
  &__sign-in input, &__sign-up input {
    color: $secondary-color;
    font-size: $primary-font-size;
  }
  &__styling {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    background: $color-back-input;
  }
  & input::placeholder{
    font-size: $primary-font-size;
    color: $color-label;
  }
}
.sign-in_left, .sign-up_left{
  transform: translateX(-400px);
}
.sign-in_left{
  opacity: 0;
}
.sign-up_left{
  opacity: 1;
}
:focus{
  outline: none;
}

label {
  font-weight: 400;
  text-transform: uppercase;
  color: $color-label;
}

.form__sign-in input:focus, textarea:focus, .form__sign-up input:focus, textarea:focus {
  background: $color-back-form;
  color: $secondary-color;
  border: none;
  font-size: $primary-font-size;
  transition: background .5s ease;
}

.control{
  cursor: pointer;
  color: $color-inactive-a;
  text-decoration: none;
  transition: all .25s ease;
}

.error-block, .error-block-up{
  color: $color-error-text;
  font-size: $primary-font-size;
  text-align: center;
}

.rules{
  color: $secondary-color;
  font-size: $primary-font-size - 4px;
  p {
    margin: 0;
  }
}
