.icons{
  display: flex;
  justify-content: space-between;
  &__item{
    height: 38px;
    width: 38px;
    cursor: pointer;
  }
}

.icon_active{
  outline: 1px solid $active-color;
}

.title-block{
  text-align: center;
  color: $color-icon-title;
  font-size: $primary-font-size;
  font-weight: $secondary-font-weight + 100;
}
