.controls{
  display: flex;
  flex-wrap: wrap;
  &__button{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
  }
}

.word__diff{
  transform: scale(0);
  transition: all 1s ease-in-out;
  text-align: center;
}

.intervals_diff{
  margin-bottom: 2%;
}
