.hints-bar {

  &__voice {
    width: 40px!important;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &__voice:hover {
    cursor: pointer;
    filter: invert(0.2);
  }

  &__voice:active {
    transform: scale(0.99, 0.99);
  }

  &__voice-off {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
  }

  &__text {
    text-align: center;
  }

  &__lives {
    display: flex;
    justify-content: flex-end;
  }

}

.inactive {
  display: none;
}

.savannah__screen-wrapper {
  padding: 45px 35px 0;
  user-select: none;
  text-shadow: 1px 0 1px #343a40;
  position: relative;
}

.screen-wrapper {

  &__hints-bar {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
  }

  &__words-container {
    display: flex;
    justify-content: center;
  }

  &__points-counter {
    width: 5%;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    padding-top: 280px;
  }

}

.hint {
  width: 25%;
}

.hint:nth-child(1) {
  width: 20%;
  margin-right: 20px;
}

.live {
  width: 12%;
  height: 100%;
}

.fa-heart {
  font-size: 25px;
  color: #9e0000 !important;
}

.words-container__word {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 2.3;
  border: 1px solid #343a40;
  border-radius: 15px;
  margin: 0 10px;
}

.words-container__word:hover {
  cursor: pointer;
  background: #938e8e;
  box-shadow: 1px 1px 1px #525050;
}

.words-container__word:active {
  transform: scale(0.99, 0.98);
}

.screen-wrapper__question {
  position: absolute;
  width: 220px;
  height: 60px;
  font-size: 37px;
  text-align: center;
  border: 1px solid #343a40;
  border-radius: 15px;
  line-height: 1.5;
  top: 60%;
  margin-left: 15%;
}
