@import "./commons/vars.scss";

.wrapper {
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url(/rslang/src/assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $primary-font-family;
}

.wrapper-content {
  text-align: center;
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
}

.wrapper-header {
  padding: 2px 16px;
  &__greet {
    font-weight: $primary-font-weight - 100;
    text-align: center;
    white-space: pre-wrap;
    font-size: $secondary-font-size;
  }
}

.wrapper-body {
  margin-top: 100px;
  text-align: center;
  padding: 2px 16px;
  &__description {
    margin-top: 50px;
    font-size: $secondary-font-size - 24;
    max-width: 700px;
    text-align: center;
    font-weight: $primary-font-weight + 100;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  &__first-gifs,
  &__second-gifs {
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  &__mini-games {
    font-weight: $primary-font-weight - 100;
    text-align: center;
    white-space: pre-wrap;
    font-size: $secondary-font-size;
  }
}

.wrapper-footer {
  padding: 2px 16px;
  margin-top: 100px;
  &__button-start {
    background-color: $color-button-name;
    width: 206px;
    height: 64px;
    outline: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: $primary-color;
    box-shadow: 0 2px 0 0 $secondary-shadow-color;
    margin-bottom: 200px;
    margin-top: 100px;
  }
  &__button-name {
    font-weight: $primary-font-weight + 100;
    font-size: $secondary-font-size - 20;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    color: $primary-color;
    text-decoration: none;
  }
  &__interface {
    font-weight: $primary-font-weight - 100;
    text-align: center;
    white-space: pre-wrap;
    font-size: $secondary-font-size;
  }
  &__video {
    margin-top: 100px;
    height: 600px;
    width: 100%;
    margin-bottom: 100px;
  }
  &__familiarize {
    font-weight: $primary-font-weight - 100;
    text-align: center;
    white-space: pre-wrap;
    font-size: $secondary-font-size;
    margin: 0 auto;
  }
  &__go {
    font-weight: $primary-font-weight - 100;
    text-align: center;
    white-space: pre-wrap;
    font-size: $secondary-font-size;
    width: 100%;
  }
  &__go-block {
    width: 100%;
  }
}

.swiper-container {
  margin-top: 50px;
  width: 1000px;
  height: 500px;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.click-enter {
  background-color: rgba(0, 0, 0, 0);
  color: $primary-color;
  text-decoration: none;
}
