@media (max-width: 750px) {
  #restart-speak, #start-speak, #results-speak{
    font-size: $primary-font-size - 2px;
  }
  .item-word {
    font-size: $primary-font-size + 2px;
  }
  .item-transcription{
    font-size: $primary-font-size - 2px;
  }
  .answers__item {
    min-width: 150px;
    min-height: 30px;
  }
}

@media (max-width: 600px) {
  #restart-speak, #start-speak, #results-speak{
    font-size: $primary-font-size - 4px;
    width: 25%;
  }
}

@media (max-width: 460px) {
  .hints-image img {
    width: 90%;
  }
  .answers__item {
    min-width: 200px;
  }
  .hints-input {
    width: 70%;
    font-size: $primary-font-size;
  }
}
