@media screen and (max-width: 500px) {
  .game-block {
    width: 100%;
  }
}

@media screen and (max-height: 650px) {
  .game-block {
    height: 500px;
  }
  #choice {
    margin-top: 100px;
  }
  .game-block {
    &__header-name {
      font-size: 15px;
    }
  }
}

@media screen and (max-height: 600px) {
  .game-block {
    height: 400px;
  }
  .game-block {
    &__body-cell {
      width: 30px;
      height: 30px;
    }
    &__body-cell-answer {
      width: 30px;
      height: 30px;
      line-height: 10px;
    }
    &__header-description {
      font-size: 12px;
    }
    &__context-image {
      width: 200px;
      height: 100px;
    }
  }
}

@media screen and (max-height: 410px) {
  .game-block {
    height: 350px;
    &__header-description {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 320px) {
  .game-block {
    &__body-cell {
      width: 30px;
      height: 30px;
    }
    &__body-cell-answer {
      width: 30px;
      height: 30px;
      line-height: 10px;
    }
    &__header-description {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper-block {
    &__settings-and-raunds-description {
      margin-left: 170px;
    }
  }
}
