@media screen and (max-device-width: 400px) {
  .modal-body {
    &__list {
      width: 50%;
    }
  }
  .modal-header {
    &__name {
      font-size: 30px;
    }
  }
}

@media screen and (max-device-width: 700px) {
  .modal {
    padding: 0;
  }
  h3 {
    margin-bottom: 50px;
  }
  .modal-body {
    &__description {
      margin: 0;
      transform: none;
    }
  }
}

@media screen and (max-device-width: 650px) {
  .modal-body {
    &__video {
      width: 300px;
      margin: 0 auto;
      height: 200px;
    }
  }
}

@media screen and (max-device-width: 1250px) {
  .modal-footer {
    &__button-start {
      margin: 0 auto;
    }
  }
}

@media screen and (max-device-width: 400px) {
  .modal {
    padding: 0;
  }

  .modal-body {
    &__video {
      width: 220px;
    }
  }
}

@media screen and (max-device-height: 800px) {
  .modal {
    padding: 0;
  }
  .modal-footer {
    &__button-start {
      margin-bottom: 50px;
    }
  }
  .modal-body {
    &__video {
      margin: 0 auto;
    }
  }
  .close {
    margin-top: 5px;
  }
}
